:root{
    /*Palette*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900:  rgb(31, 31, 31, 0.9);
    --dark-900:  rgb(31, 31, 31, 0.5);
    --dark-900:  rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /*Typography*/

    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

   
    /*Font-sizes*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /*Spacings*/

    --spacing-120: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;



}   



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

header, footer{
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


nav{
    width: 100%;
    height: 144px;
    display: flex;
    background-color: var(--dark-bg-solid);
    align-items: center;
    justify-content: space-between; 
    padding-left: 10.1em;
    padding-right: 10.1em;
      
}


#nav_ul{
    display: flex;  
    align-items: center;
}

.nav-li{
    margin-right: 2em;
}

a{
    font-family: inherit;
    text-decoration: none;
    font-size:2em;
    color: inherit
}


.a_button{
    width: 290px;
    height: 65px;
    font-family: var(--base-font);
    font-size: 2.4em;
    border-radius: 50px;
    background-color: #30343F;
    color:#FAFAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button_link{
    font-size: var(--font-medium);
}



ul, ol{
    list-style: none;
}



h2{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
}



h3{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    width: 441px;
    margin-bottom: var(--spacing-8);  
}

h4{
    font-size: 18px;
}


/*Header*/

#nav-logo{
    display: flex;
    align-self: center;

}

#banner{
    
    background-image: url(../img/funkos-banner.webp);
    background-size: cover;
    width: 100%;
    height: 388px;
    margin-bottom: 10em;
    
}


#banner_detail{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    backdrop-filter: blur(3px);
    height: 100%;
    display: flex;
    
}

#banner_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:110px;
}

#new_in{
    font-size: var(--font-jumbo);
}

#banner_p{
    font-size: var(--font-medium);
    margin-bottom: 59px;
}

#banner_button{
    background-color: var(--light-font-solid);
    font-size: 2em;
    font-weight: 500;
    color: var(--dark-solid);
    width: 211px;
    height: 47px;
}

/*Main articles*/

#home_funkos{
   display: flex;
   flex-direction: column;
}

.home_articles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_art_description{
    font-size: var(--font-large);
    margin-bottom: var(--spacing-28)
}

.home_img{
    height: 60em;
    width: auto;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 64.5em;
    height: 29.7em;
}

.line{
    
    width: 64.5em;
    border: 2px solid #FF3333 ;
    margin-bottom: var(--spacing-28);
   
}



/*New articles*/

.shop_art_container{
    display: flex;
    justify-content: center;
}

.shop_articles > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}


.shop_articles > h2{              
    margin-bottom: 60px;
}

.shop_img{
    width: 360px; 
    height: auto;
}

.shop_item{
    height: 51em;
    width: 36em;
    position: relative;
}


.shop_item_info{
    margin-bottom: var(--spacing-12);
}

.funko_saga{
    font-size: 14px;
}

.funko_name{
    font-size: 18px;
    font-weight: 700;
}

.funko_price{
    font-size: 16px;
}

.funko_payment{
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-solid);
}

#box_new{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--primary-solid);
    width: 96px;
    height: 30px;
    font-size: var(--font-small);
    color: var(--light-font-solid);
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Footer*/

footer{
    margin-top: var(--spacing-68);
    height: 300px;  
}

footer > section{
    height: 250px;
    display: flex;
    align-items: center;
    
}

.nav_li{
    margin-top: 1em;
}


#rights{
    display: flex;
    justify-content: center;
    height:20px;
    font-family: var(--alternative-font);
    font-size: 2em;
}









