:root{
    /*Palette*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900:  rgb(31, 31, 31, 0.9);
    --dark-900:  rgb(31, 31, 31, 0.5);
    --dark-900:  rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /*Typography*/

    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

   
    /*Font-sizes*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em; /*revisar*/

    /*Spacings*/

    --spacing-120: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem; /*revisar*/
    --spacing-20: 2rem;    /*revisar*/
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

    



}   



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

header, footer{
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*max-width: 1200px;*/
}

a{
    font-family: inherit;
    text-decoration: none;
    font-size:2em;
    color: inherit
}


.button_link{
    font-size: var(--font-medium);
}



ul, ol{
    list-style: none;
    margin: 0;
}



h2{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
}



h3{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    width: 441px;
    margin-bottom: var(--spacing-8);  
}

h4{
    font-size: 18px;
}


img{
    width: 100%;
}


/*HEADER*/

nav{
    width: 100%;
    height: 144px;
    display: flex;
    background-color: var(--dark-bg-solid);
    align-items: center;
    justify-content: space-between; 
    padding-left: 10.1em;
    padding-right: 10.1em;
      
}

#nav_ul{
    display: flex;  
    align-items: center;
    gap: var(--spacing-20);
    margin-bottom: 0;
    position: relative;
}


#nav-logo{
    display: flex;
    align-self: center;
    max-width: 300px;

}


.nav_link{
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    
}



.nav_link:hover{
    background-color: var(--primary-900);
}

.with-icon{
    display: flex;
    align-items: center;
    gap:var(--spacing-8);
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    background-color: var(--dark-bg-solid);
    width: 300px;
    position: absolute;
    z-index: 2;
    padding-left: 0;
    
}

.submenu_link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu_link:hover{
    background-color: var(--primary-900);
}


/*HERO*/

#banner{
    
    background-image: url(../img/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 38vh;
    margin-bottom: 10em;
    
}


#banner_detail{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    backdrop-filter: blur(2px) brightness(.9);
    height: 100%;
    display: flex;
    
}

#banner_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:110px;
}

#banner_new_in{
    font-size: var(--font-jumbo);
}

#banner_p{
    font-size: var(--font-medium);
    margin-bottom: 59px;
}

#banner_button{
    background-color: var(--light-font-solid);
    font-size: 2em;
    font-weight: 500;
    color: var(--dark-solid);
    width: 211px;
    height: 47px;
    transition: all .3s ease-in-out;
}

#banner_button:hover{
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}



/*MAIN ARTICLES*/

#home_funkos{
   display: flex;
   flex-direction: column;
}

.home_articles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_art_description{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    margin-bottom: var(--spacing-28)
}

.home_img{
    height: 60em;
    width: auto;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 64.5em;
    height: 29.7em;
}


.a_button{
    width: 290px;
    height: 65px;
    font-family: var(--base-font);
    font-size: var(--font-medium);
    border-radius: 50px;
    background-color: #30343F;
    color:#FAFAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3sz
    
}

.a_button:hover{
    background-color: var(--primary-900)
}

.line{
    
    width: 64.5em;
    border: 2px solid #FF3333 ;
    margin-bottom: var(--spacing-28);
   
}


/*SLIDER - NEW ARTICLES*/

.shop_art_container{
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-68);
}

.shop_articles > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--spacing-28);
}


.shop_articles > h2{              
    margin-bottom: 60px;
}

.shop_img_container{
    display: flex;
}

.shop_img_container img{
    animation: fade .7s;
}

.img_back{
    display: none;
}

.shop_img_container:hover .img_back{
    display: block;
}

.shop_img_container:hover .img_front{
    display: none;
}


.shop_img{
    width: 360px; 
    height: auto;
}

.shop_item{
    height: 51em;
    width: 36em;
    position: relative;
    padding: var(--spacing-16);
}


.shop_item_info{
    margin-bottom: var(--spacing-12);
}

.funko_saga{
    font-size: 14px;
}

.funko_name{
    font-size: 18px;
    font-weight: 700;
}

.funko_price{
    font-size: 16px;
}

.funko_payment{
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-solid);
}

#box_new{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--primary-solid);
    width: 96px;
    height: 30px;
    font-size: var(--font-small);
    color: var(--light-font-solid);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/


footer{
    height: 300px; 
    display: flex; 
    flex-direction: column;
    justify-self: flex-end;
    justify-content: space-between;
     
}



.footer_li{
    padding: 1em;
    transition: background .3s ease-in-out;
}

.footer_li:hover{
    background-color: var(--primary-900);
}

.footer_li:hover{
    background-color: var(--primary-900);
}


#nav_footer{
    margin-top: var(--spacing-68);
}

#rights{
    display: flex;
    justify-content: center;
    height:20px;
    font-family: var(--alternative-font);
    font-size: 2em;
    align-items: flex-end;
    margin-bottom: 1em;
    
}



@keyframes fade{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}