

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

.container{
    
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-68);
}

h3{
    font-family: var(--base-font);
    color: var(--dark-solid);
    margin-bottom: 16px;
}

#shop_search{
    width: 367px;
    font-weight: 500;  
}


#shop_articles > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.shop_li{
    margin-left: 2.5em;
}


.shop_img{
    width: 300px; 
    height: auto;
}

.shop_item{
    height: 51em;
    width: 30em;
    position: relative;
}

.search_title{
   
    font-size: var(--font-large);
    font-weight: 500;
}

.search_input{
    margin-bottom: var(--spacing-36);
}

.lg_input{
    width: 243px;
    height: 44px;
    border-radius: 6px;
}

#price_min_max{
    display: flex;
    
}

.min-max{
    width: 59px;
    height: 27.5px;
    border: solid 2px;
    border-radius: 6px;
    margin-right: var(--spacing-12);
    display: flex;
    justify-content: center;
    
}

.min_max_label{
    font-size: var(--font-small);
    margin-right: var(--spacing-12);

}

.min_max_input{
    display: flex;
    align-items: center;
}

#search_filter{
    display: flex;
    flex-direction: column;
   
}

.filter{
    display: flex;
    align-items: center;
    margin-bottom: 8.6px;
}


.filter_box{
    appearance: none;
    border: 2px solid var( --dark-bg-solid);
    border-radius: 6px;
    height: 24px;
    width: 24px;
    margin-left: 16px;
    margin-right: 5px;
    
}


.filter_options{
    font-size: var(--font-medium);
}


/*funkos*/

.shop_item_info{
    margin-bottom: var(--spacing-12);
}

.funko_saga{
    font-size: 14px;
}

.funko_name{
    font-size: 18px;
}

.funko_price{
    font-size: 16px;
}

.funko_payment{
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-solid);
}

#box_new{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--primary-solid);
    width: 96px;
    height: 30px;
    font-size: var(--font-small);
    color: var(--light-font-solid);
    display: flex;
    justify-content: center;
    align-items: center;
}
