

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

.container{
    
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-68);
    margin-left: 11em;
    margin-right: 11em;
    

}

h3{
    font-family: var(--base-font);
    color: var(--dark-solid);
    margin-bottom: 16px;
}

/*SHOP ARTICLES*/


.shop_li{
    flex: 1 1 clamp(250px, 30%, 30%);
}


.shop_img{
    width: 300px; 
    height: auto;
}

.shop_item{
    width: 30em;
}

/*ASIDE*/

#shop_search{
    width: 367px;
    font-weight: 500;  
}


.search_title{
   
    font-size: var(--font-large);
    font-weight: 500;
}

.search_input{
    margin-bottom: var(--spacing-36);
}

.lg_input{
    width: 243px;
    height: 44px;
    border-radius: 6px;
}

#price_min_max{
    display: flex;
    
}

.min-max{
    width: 59px;
    height: 27.5px;
    border: solid 2px;
    border-radius: 6px;
    margin-right: var(--spacing-12);
    display: flex;
    justify-content: center;
    
}

.min_max_label{
    font-size: var(--font-small);
    margin-right: var(--spacing-12);

}

.min_max_input{
    display: flex;
    align-items: center;
}

#search_filter{
    display: flex;
    flex-direction: column;
   
}

.filter{
    display: flex;
    align-items: center;
    margin-bottom: 8.6px;
}


.filter_box{
    appearance: none;
    border: 2px solid var( --dark-bg-solid);
    border-radius: 6px;
    height: 24px;
    width: 24px;
    margin-left: 16px;
    margin-right: 5px;
    
}


.filter_options{
    font-size: var(--font-medium);
}













