
.search_icon{
    height: 3em;
    width: auto;
    margin-right: 1em;
}

.search_txt{
    height: 3em;
    width: 52.9em;
    border: 2px solid var(--dark-bg-solid);
    padding: 1em;
    border-radius: 6px;
    font-size: small;
}

#list_search{
    max-width: 1200px; 
    margin-top: 3.6em;
}

#list_top{
    display: flex;
    max-width: 1200px;
    margin-top: 3.7em;  
    justify-content: space-between;
    align-items: center;
}

.add_section{
    display: flex;
    align-items: center;
}

.add_txt{
    font-size: var(--font-large);
    font-weight:700;
}

.add_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin-left: var(--spacing-28);
    background-color: var(--primary-solid);
    color:var(--light-font-solid);
    
}


#list{
    max-width: 1200px;
    margin-top: 3.4em;
    margin-left: 2.5em;
}

.list_title_container{
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 4fr 1fr 1fr ;
    margin-bottom: 1em;
    font-size: var(--font-large);
    font-weight: 700;
}

.list_details{
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 4fr 1fr 1fr ; 
    grid-template-rows: 2.5em;
    margin-top: 1em;
    align-items: center;
    font-size: var(--font-large);
    font-weight: 500;
    
}

.list_details > p{
    margin-bottom: 0;
}

.list_icon{
    height: 22.5px;
    width: 25.5px;
    margin: auto;
}

